<link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link  rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
<link  rel="stylesheet" type="text/css" href="/assets/css/fontawesome-all.css">
<link  rel-="stylesheet" type="text/css" href="/assets/css/swiper.css">
<link  rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">
<link  rei="stylesheet" type="text/css" href="/assets/css/styles.css">


<!-- Header -->
<header id="ktdheader" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>KOTTAYAM </h1>
                        <h2><span id="js-rotating">ENJOY,EXPLORE,REJOICE</span></h2>
                        <p class="p-heading p-large">Here is a complete plan to enjoy your days in KOTTAYAM</p>
                        <a class="btn-solid-lg page-scroll" routerLink="#intro">Explore</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->


<!-- Intro -->
<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">ABOUT</div>
                    <h2>Choose Your Own Trip</h2>
                    <p>Travelling is an amazing way to learn a lot of things in life.Travelling fosters a medium to build human connections with one another by learning about culture,food,new sites, music and the way people live.By Choosing your own trip you will be able to explore places of your preference. </p>
                    <p class="testimonial-text">"Once a year go someplace you've never been before."</p>
                    <div class="testimonial-author">Dalai Lama</div>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="/assets/k4.jpg" alt="ilovekozhikode">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of intro -->



<!-- Services -->
<div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">Plan Your Trip</div>
                <h2>Choose The Trip Plan<br> That Suits Your Needs</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="/assets/k1.jpg" alt="beypore beach">
                    </div>
                    <div class="card-body">
                        <h5>Trip Plan 1</h5>
                        <h3 class="card-title">Jolly Kottayam</h3>
                        <p>Kottayam is a city in the Indian state of Kerala.It is located in central Kerala and is also the administrative capital of Kottayam district.Bordered by the lofty and mighty Western Ghats on the east and the Vembanad Lake and paddy fields of Kuttanad on the west</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Illikkal Kallu</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Illikkal Kallu</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Peruvannamuzhi Dam</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Bay Island Driftwood Museum</div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-container">
                     <a class="btn-solid-reg page-scroll" href="/#/plan1kottayam">DETAILS</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="/assets/k2.jpg" alt="Archaeological Museum">
                    </div>
                    <div class="card-body">
                        <h5>Trip Plan 2</h5>
                        <h3 class="card-title">Rejoicing Kottayam</h3>
                        <p>Most of Kozhikottukar or people of Calicut who grew up in the city would have childhood memories woven together by the waves, the wind and the familiar sight of these dilapidated piers.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Sree Kumaramangalam Subramanyaswamy Temple</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Mango Meadows Agricultural Theme Park</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Kattikkayam Waterfalls</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Discs & Machines - Sunny's Gramophone Museum
                                </div>
                            </li>
                        </ul>
                      
                    </div>
                    <div class="button-container">
                         <a class="btn-solid-reg page-scroll" href="/#/plan2kottayam">DETAILS</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="/assets/k3.jpg" alt="Freedom Square">
                    </div>
                    <div class="card-body">
                        <h5>Trip Plan 3</h5>
                        <h3 class="card-title"> Exuberant Kottayam</h3>
                        <p>. The old town of Kottayam was originally founded on the hilltop now known as Kunnumpuram. This fortress was called Thaliyil Kotta and was founded by the local chieftain or RAJA known as the Thekkumcoor RAJA. The small hamlet developed within the walls of the fort and thus was derived the present name from the words "Kottackk Akam" which literally means "Inside the Fortress". It is commonly believed that down the ages this gradually assumed its present form, Kottayam.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Mahadeva Temple - Ettumanoor</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Sri Vallabha Temple - Thiruvalla</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Cheriyapally Church</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Kumarakom</div>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="button-container">
                         <a class="btn-solid-reg page-scroll" href="/#/plan3kottayam">DETAILS</a> 
                    </div> <!-- end of button-container -->
                
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of services -->





<script src="/assets/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/assets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/assets/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/assets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="/assets/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/assets/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<!---<script src="js/validator.min.js"></script>---><!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="/assets/js/scripts.js"></script> <!-- Custom scripts -->