    <div class="container">
        <section class="one">
            <h1>Wayanad</h1>
            <div class="new">
             <p>Green Paradise</p>
            </div>
        </section>
        <section class="two">
            <div class="new">
            <h1>about</h1>
         <br>
           <ul>
            <li>Wayanad is an Indian district in the north-east of Kerala state with administrative headquarters at the municipality of Kalpetta. It is set high in the Western Ghats with altitudes ranging from 700 to 2100 meters.Vellari Mala, a 2,240 m high peak situated on the trijunction of Wayanad, Malappuram, and Kozhikode districts, is the highest point in Wayanad district.</li>
          <br>
            <li> The district was formed on 1 November 1980 as the 12th district in Kerala, by carving out areas from Kozhikode and Kannur districts. An area of 885.92 km2 of the district is forested.Wayanad has three municipal towns—Kalpetta, Mananthavady and Sulthan Bathery. There are many indigenous tribes in this area.The Kabini River, a tributary of Kaveri River, originates at Wayanad. Wayanad district, along with the Chaliyar valley in neighbouring Nilambur (Eastern Eranad region) in Malappuram district, is known for natural gold fields,which are also seen in other parts of the Nilgiri Biosphere Reserve.  The historically important Edakkal Caves are located in Wayanad district.</li>
         <br>
            <li>Wayanad district is bordered by Karnataka (Kodagu and Mysore districts) to the north and north-east, Tamil Nadu (Nilgiris district) to the south-east, Malappuram to the south, Kozhikode to the south-west and Kannur to the north-west.Pulpally in Wayanad boasts the only Lava-Kusha temple in Kerala and Vythiri has the only mirror temple in Kerala, which is a Jain temple. </li>
           </ul>
           </div>
         </section>
     

        <section class="three">
           <div class="row">
               <div class="col">
               <h1>Explore</h1>
               <p>The main hotspots of Wayanad</p>
               </div>
             <div class="col">
                <div class="card card1">
                 <h2>Edakkal Caves</h2>
                 <br>
                 <br>
                 <h4>They are the two natural caves at a remote location at Edakkal, 25km from Kalpetta in the Wayanad district of Kerala in India's western ghats</h4>
                </div>
                <div class="card card2">
                    <h2>Kuruvadweep</h2>
                    <br>
                    <br>
                    <h4>Kuruvadweep or Kuruva Island is situated 14 km from Mananthavady in Wayanad district of Kerala,. They are a group of islets forming 950 acres </h4>
                </div>
                <div class="card card3">
                    <h2>Soochipara Falls</h2>
                    <br>
                    <br>
                    <h4>It is also known as Sentinel Rock Waterfalls is a three-tiered beautiful waterfall  situated in Vellarimala in the Wayanad district</h4>
                </div>
                <div class="card card4">
                    <h2>Banasura sagar dam</h2>
                    <br>
                    <br>
                    <h4>It is located 21km from Kalpetta, in Wayanad District of Kerala in the Western Ghats,It is the largest earthen dam in India</h4>
                </div>
             </div>
             </div>
        </section>  
        
    </div>

